*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(2.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
#gameBoard{
    width: 50vw;
    height: 50vh;
    opacity: 0.9!important;
    box-shadow: 0px 0px 10px #ff0101;
    background-image: radial-gradient(rgb(0, 0, 0), rgb(26, 5, 5), rgb(7, 37, 7));
}
#dropdownMenuButton{
    box-shadow: 0px 0px 5px #ff0101;
    opacity: 1!important;
    transform: skew(20deg,3deg);
    border-top: 10px solid rgb(27, 25, 2);
}
#alphabet{
    font-size: 300px;
    text-shadow: 0px 0px 5px #ffffff;
    /* display: none; */
}
#choseGame{
    font-size: 70px;
}
.dropdown-menu.sub-menu {
    transform: skewX(20deg);
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}
.dropdown-item{
    cursor: pointer;
}
.dropdown-submenu:hover .sub-menu {
    display: block;
}
.displayNone{
    display: none;
}

.alertBox {
    position: absolute;
    padding: 10px;
    color: red;
    border: 1px solid #ff0000;
    display: none;
}

#startGame{
    position: absolute;
    top: 50%;
    padding: 5px;
    color: #3d90a5;
    border: 1px solid #f7f4f4;
    display: none;
    cursor: pointer;
}
#Congrst{
    top: 30%;
    width: 60vw;
}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 25px!important;
    }
    h3 {
      font-size: 20px!important;
    }
    #alphabet{
        font-size: 200px!important;
    }
    #Congrst{
        font-size: 18px!important;
    }
}
@media only screen and (max-width: 450px) {
    h1 {
      font-size: 16px!important;
    }
    h3 {
      font-size: 10px!important;
    }
    #alphabet{
        font-size: 150px!important;
    }
    #Congrst{
        font-size: 14px!important;
    }
  }